.socials {
  display: flex;
  justify-content: center;

  &__item + &__item {
    margin-left: 10px;
  }

  &__link {
    width: 44px;
    height: 44px;
    /* background-color: var(--icon-bg-main); */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--icon-color-main);
    /* fill: var(--icon-color-main); */
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover,
  &__link:focus {
    background-color: var(--icon-bg-hover);
    color: var(--icon-color-hover);
    /* fill: var(--icon-color-hover); */
  }

  &__icon {
    fill: currentColor;
  }
}

/* .socials__link:hover .socials__icon,
.socials__link:focus .socials__icon {
  fill: var(--icon-color-hover);
}  */
