.team {
  background-color: var(--team-background);
  
  &__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: var(--second-title-color);
  margin-bottom: 50px;
}
}


