.footer {
  background-color: var(--footer-background);
  padding: 60px 0;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.footer .container {
  align-items: center;
  justify-content: center;
  text-align: center;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
}

.footer__nav {
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    width: 232px;
    margin-right: 165px;
  }

  @media screen and (min-width: 1200px) {
    text-align: left;
    margin-right: 70px;
  }
}

.footer__logo {
  padding: 20px 0;
}

.address {
  font-style: normal;
  margin-top: 20px;

  &__item {
    font-weight: 400;
    line-height: 1.71;
    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }

  &__link-light {
    color: var(--main-footer-text-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  &__link {
    color: var(--second-footer-text-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

.footer__connect {
  margin-bottom: 60px;
  align-items: center;
  justify-content: center;
  text-align: center;

  @mixin tablet {
    margin-bottom: 0;
    margin-left: auto;
    display: flex;
    width: 206px;
  }
}

.connect {
  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
    margin-bottom: 20px;

    @media screen and (min-width: 1200px) {
      text-align: left;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  &__item + &__item {
    margin-left: 10px;
  }

  &__link {
    width: 44px;
    height: 44px;
    background-color: var(--icon-footer-bg);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--icon-footer-color);
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: var(--icon-bg-hover);
      color: var(--icon-color-hover);
    }
  }

  &__icon {
    fill: currentColor;
  }
}

.footer__subscribe {
  // align-items: center;
  // justify-content: center;
  text-align: left;
  width: 100%;
  @media screen and (min-width: 768px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: auto;
    width: 570px;
  }
}

.subscribe {
  &__field {
    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }

  &__input {
    width: 100%;
    margin-bottom: 20px;
    @media screen and (min-width: 1200px) {
      width: 360px;
      margin-bottom: 0;
    }
    height: 50px;
    color: var(--main-footer-text-color);
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    padding: 15px 16px;
    margin-right: 12px;
    outline: none;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      border-color: var(--accent-color);
    }
  }

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
    @media screen and (min-width: 1200px) {
      text-align: left;
    }
  }

  &__field .button {
    margin-top: 0;
    height: 50px;
  }

  &__btn {
    display: flex;
    align-items: center;
    text-align: center;
  }

  &__icon {
    fill: #ffffff;
    margin-left: 10px;
  }
}
