.logo {
  font-family: var(--logo-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo__main {
  color: var(--logo-main-color);
}

.logo__dark {
  color: var(--logo-header-color);
}

.logo__light {
  color: var(--logo-footer-color);
}
