:root {
  --header-color: #212121;
  --accent-color: #2196f3;
  --header-contacts-color: #757575;
  --logo-main-color: #2196f3;
  --logo-header-color: #212121;
  --logo-footer-color: #ffffff;
  --logo-font-family: "Raleway", sans-serif;
  --header-bg-color: #ffffff;
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --btn-text-color: #ffffff;
  --btn-main-bg-color: #2196f3;
  --btn-hover-color: #188ce8;
  --main-text-color: #212121;
  --second-text-color: #757575;
  --hero-background: #2f303a;
  --team-background: #f5f4fa;
  --team-member-background: #ffffff;
  --main-footer-text-color: #ffffff;
  --second-footer-text-color: rgba(255, 255, 255, 0.6);
  --footer-background: #2f303a;
  --pf-btn-main-bg: #f5f4fa;
  --pf-btn-hover-bg: #2196f3;
  --pf-btn-main-text: #212121;
  --pf-btn-hover-text: #ffffff;
  --pf-item-bg: #ffffff;
  --icon-color-main: #afb1b8;
  --icon-bg-main: #ffffff;
  --icon-color-hover: #ffffff;
  --icon-bg-hover: #2196f3;
  --icon-footer-color: #ffffff;
  --icon-footer-bg: rgba(255, 255, 255, 0.1);
  --icon-clients-hover: #2196f3;
  --modal-title-color: #212121;
}